.vscode/launch.json
.vscode/settings.json
cogs/__pycache__/Translate.cpython-38.pyc
cogs/__pycache__/Moderation.cpython-38.pyc
cogs/__pycache__/Sysinfo.cpython-38.pyc
cogs/__pycache__/Info.cpython-38.pyc
cogs/__pycache__/Gban.cpython-38.pyc
cogs/__pycache__/Botsudo.cpython-38.pyc
__pycache__/reapertools.cpython-38.pyc

.fake
.ionide
cogs/__pycache__/Google.cpython-38.pyc
cogs/__pycache__/Greetings.cpython-38.pyc
.google-cookie
cogs/__pycache__/Animeviewer.cpython-38.pyc
cogs/__pycache__/SearchTorrent.cpython-38.pyc
