# Requirements (1)
https://github.com/Nekos-life/nekos.py/archive/master.zip
https://github.com/rachmadaniHaryono/we-get/archive/master.zip
discord.py[voice]
requests
pyfiglet
pymongo
dnspython
google